---
import MainLayout from "../../layouts/MainLayout.astro";
import Icons from "../../components/Icons.astro";

import { stackImage } from "../../helpers/helpers";

export async function getStaticPaths() {
  const allProjects = await Astro.glob("../../data/projects/*.md");

  return allProjects.map((project) => {
    return {
      params: { slug: project.frontmatter.slug },
      props: { ...project },
    };
  });
}

const stackHomeLink: { [key: string]: string } = {
  vue: "https://vuejs.org/",
  "vue-router": "https://router.vuejs.org/",
  tailwind: "https://tailwindcss.com/",
};

const { Content, frontmatter } = Astro.props;
const projectName = frontmatter.project_name;
const tech_stack: string[] = frontmatter.tech_stack;
---

<MainLayout title={projectName}>
  <div
    class="md:mt-[100px] mx-auto w-11/12 md:max-w-[1000px] prose prose-invert dark:prose-invert pb-20"
  >
    <div class="grid gap-x-5 md:grid-cols-3">
      <div class="md:col-span-2">
        <img
          src={frontmatter.singleImage}
          alt="single_project_image"
          class="shadow-sm shadow-cyan-500 border dark:border-none"
        />
      </div>
      <div
        class="border border-gray-300 shadow-sm shadow-cyan-500 min-h-[19em] p-5 md:mt-8"
      >
        <div class="border-b border-gray-300 pb-2">
          <span class="text-2xl font-semibold text-black dark:text-white"
            >Tech Stack</span
          >
        </div>
        {
          tech_stack.map(([stackName, stackImageandHome]) => (
            <div class="flex items-center gap-x-6">
              <img
                src={stackImage[stackImageandHome]}
                alt="tech_logo"
                class="h-8"
              />
              <a
                href={stackHomeLink[stackImageandHome]}
                target="_blank"
                class=" hover:text-cyan-500 text-black dark:text-white hover:underline no-underline"
              >
                {stackName}
              </a>
            </div>
          ))
        }
      </div>
      <div class="md:col-span-2 overflow-auto">
        <div class="md:flex items-center md:justify-between">
          <h1
            class="text-center md:text-start text-xl font-bold text-black dark:text-white mt-3"
          >
            {frontmatter.project_name}
          </h1>
          <div class="flex justify-center md:justify-start gap-6">
            <a
              href="#"
              class="flex items-center gap-x-3 no-underline group text-black dark:text-white"
            >
              <Icons icon="bi-globe" extraClass="text-xl" />
              <p
                class="font-semibold group-hover:text-cyan-500 group-hover:underline text-xl"
              >
                Demo
              </p>
            </a>
            {
              frontmatter.githubLink ? (
                <a
                  href="#"
                  class="flex gap-x-3 items-center no-underline group"
                >
                  <Icons icon="bi-github" extraClass="text-xl" />
                  <p class="text-black dark:text-white font-semibold group-hover:text-cyan-500 group-hover:underline text-xl">
                    Source
                  </p>
                </a>
              ) : (
                ""
              )
            }
          </div>
        </div>
        <Content />
      </div>
    </div>
  </div>
</MainLayout>
