---
import MainLayout from "../../layouts/MainLayout.astro";
import Heading from "../../components/Heading.astro";

export async function getStaticPaths() {
  const allProjects = await Astro.glob("../../data/projects/*.md");

  return allProjects.map((project) => {
    return {
      params: { slug: project.frontmatter.slug },
      props: { ...project },
    };
  });
}

const logoImage: { [key: string]: string } = {
  vue: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original-wordmark.svg",
  "vue-router": "https://router.vuejs.org/logo.png",
  tailwind:
    "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg",
};

const stackHomeLink: { [key: string]: string } = {
  vue: "https://vuejs.org/",
  "vue-router": "https://router.vuejs.org/",
  tailwind: "https://tailwindcss.com/",
};

const { Content, frontmatter } = Astro.props;
const projectName = frontmatter.project_name;
const tech_stack: string[] = frontmatter.tech_stack;
---

<MainLayout title={projectName}>
  <div
    class="mt-[100px] mx-auto w-11/12 md:max-w-[1000px] prose dark:prose-invert"
  >
    <div class="grid gap-x-5 md:grid-cols-3">
      <div class="col-span-2">
        <img
          src={frontmatter.singleImage}
          alt="single_project_image"
          class="shadow-sm shadow-cyan-500"
        />
      </div>
      <div
        class="border border-gray-300 shadow-sm shadow-cyan-500 min-h-[19em] p-5 md:mt-8"
      >
        <div class="border-b border-gray-300 pb-2">
          <span class="text-2xl font-semibold text-white">Tech Stack</span>
        </div>
        {
          tech_stack.map(([stackName, stackImageandHome]) => (
            <div class="flex items-center gap-x-6">
              <img
                src={logoImage[stackImageandHome]}
                alt="tech_logo"
                class="h-8"
              />
              <a
                href={stackHomeLink[stackImageandHome]}
                target="_blank"
                class=" hover:text-cyan-500 hover:underline no-underline"
              >
                {stackName}
              </a>
            </div>
          ))
        }
      </div>
      <div class="col-span-2">
        <div class="flex items-center justify-between">
          <span class="text-3xl font-bold text-white">Macbook pro 13</span>
          <div class="flex gap-3"></div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
