---
import { stackImage } from "../helpers/helpers";
const { snippet } = Astro.props;

const frontmatter = snippet.frontmatter;
const tags: string[] = frontmatter.tags;
---

<a
  href={`snippet/${frontmatter.slug}`}
  class="group border border-gray-500 min-h-[6em] shadow-sm shadow-cyan-500 p-3 hover:border-cyan-500 hover:transition hover:duration-200"
>
  <img
    src={stackImage[frontmatter.tech_stack]}
    class="h-8 rounded-full"
    alt="programming_logo"
  />
  <p id="title" class="text-lg font-bold mt-3 group-hover:text-cyan-500">
    {frontmatter.snippet_name}
  </p>
  <p class="text-black/70 dark:text-white/70 text-sm">
    {frontmatter.description}
  </p>
  <div id="tags" class="flex items-center gap-2 mt-4">
    {
      tags.map((tag) => (
        <p class="text-sm text-cyan-500">#{tag.toUpperCase()}</p>
      ))
    }
  </div>
</a>
